.contentSection{
    margin-bottom: 10px;
}

#title{
    margin-bottom: 2px;
}

#social{
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 7px;
}

.food-container{
    display: inline-block;
    list-style: none;
    margin-bottom: 1px;
}

.food-container li.fb-photo, .food-container li.fb-album{
    display: inline-block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    border-bottom-style: none;

    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    
}
.food-container .fb-photo-thumb, .food-container .fb-photo-thumb-link{
    display: inline-block;
    width: 318px;
    height: auto;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

#facebookFeed li.fb-album, #facebookFeed li.fb-photo {
    display: block;    
    float: left;
    overflow: hidden;
    cursor: pointer;
    border-bottom-style: none;

    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    
    width: 237px;
    height: 237px;
    
}
.fb-photo-thumb, .fb-photo-thumb-link {
    border: none;
    text-decoration: none;
    overflow: visible;
    
    object-fit: cover;
    object-position: center;
    height: 241px;
    width: 241px;
}

#infographic{
/*
    background: url(../imgs/infographic.jpg);
    height: 650px;
*/
}

#whyHelp{
    height: auto;
    display: inline-block;
    text-align: justify;
}

#whyHelp .food-indents{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
#whyHelp ul.tabs{
    display: flex;
    width: 100%;
    margin: auto;
    list-style: none;
    font-size: 36px;
    min-height: 60px;
}

#whyHelp ul.tabs li{
    list-style: none;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
    margin-left: 0px !important;
    background: none;
    color: rgb(88, 82, 70);
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
#whyHelp ul.tabs li.current{
    background-color: rgba(204,204,204,.6);
}

.tab-content{
    vertical-align: top;
    display: none;
    padding: 35px;
    color: rgb(88, 82, 70);
    background-color: rgba(204,204,204,.6);
    line-height: 1.5;
    font-size: 18px;
    margin: 0 auto;
    min-height: 243px;
}

.tab-content li{
    list-style:decimal;
    margin-left: 50px;
}

.tab-content.current{
    display: inherit;
}

#getInvolved{
    background: #73a563;
    padding-bottom: 20px;
    position: relative;
}
#getInvolved h3{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: 700;
    padding-top: 75px;
    padding-bottom: 30px;
    background: #73a563;
}
#getInvolved .lines{
    position:inherit;
    display: block;
    background-image: url(../imgs/involved-lines.png);
    background-repeat: no-repeat;
    height: 8px;
    top: -70px;
}
#getInvolved article{
    width: 85%;
    margin: 0 auto;
    color: white;
/*    background: red;*/
}
#getInvolved .instruction img{
    display: inline-block;
    width: 300px;
}
#getInvolved .instruction p{
    display: inline-block;
    width: 40%;
    vertical-align:top;
    padding: 30px;
    padding-top: 100px;
    margin-left: 75px;
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
}

#getInvolved #comments{
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    background: #3c6331;
}
#getInvolved #comments h4{
    padding: 0px;
    background: #3c6331;
}

#getInvolved #comment-content{
    width: 85%;
    margin: 0 auto;
}
#getInvolved #comments img{
    display: inline-block;
    width: 4%;
    position: relative;
    top: 8px;
    cursor: pointer;
}
#getInvolved #comments p{
    display: inline-block;
    width: 88%;
    vertical-align: top;
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
#getInvolved #comments button{
    display: inline-block;
    position: relative;
    width: 200px;
    margin-top: 10px;
    left: 305px;
}

#getInvolved h4{
    width: 60%;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    background: #73a563;
    font-weight: 500;
    color: white;
    padding: 10px;
/*    padding-top: 20px;*/
    line-height: 1.5;
}

#fb-images{
    width: 966px;
}

#ending-facebook-prompt-banner{
    color: white;
    background: #f76b21;
}

#ending-facebook-prompt{
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 500;
}

.fb-blue{
    color: white;
    background: #3a5795;
    padding: 7px;
    margin-right: 2px;
    border-radius: 6px;
    box-shadow: 2px 2px 8px black;
}

#otherOptions{
    background: #73a563;
    padding-bottom: 20px;
}

#otherOptions h3{
    position: relative;
    font-size: 45px;
    color: white;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 30px;
    padding-top: 40px;
    font-weight: 700;
    color: white;
}
#otherOptions .other-lines{
    position:relative;
    display: block;
    background-image: url(../imgs/other-options-lines.png);
    background-repeat: no-repeat;
    height: 8px;
    top: -55px;
}
#otherOptions li{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}
#otherOptions li img{
    display: inline-block;
}
#otherOptions li h4{
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #f76b21;
    font-size: 40px;
    top: 80px;
    left: 110px;
    width: 0px;
    font-weight: 600;
}
#otherOptions li p{
    display: inline-block;
    width: 50%;
    color: white;
    font-size: 24px;
    vertical-align: top;
    position: relative;
    left: 110px;
    line-height: 1.3;
    top: 140px;
    font-weight: 500;
}
#wrapUp{
    background-image: url(../imgs/wrap-up.jpg);
    height: 847px;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
    #wrapUp{
        background-image: url(../imgs/wrap-up@2x.jpg);
        background-size: 966px 847px;
    }
}
#wrapUp h3{
    position: relative;
    font-size: 45px;
    color: white;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    top: 80px;
    font-weight: 700;
    color: #F5BC47;
}
#wrapUp h4{
    position: relative;
    font-size: 24px;
    color: #F5BC47;
    line-height: 1.3;
    width: 390px;
    top: 255px;
    left: 525px;
    text-align: center;
    font-weight: 700;
}
#wrapUp p{
    position: relative;
    font-size: 20px;
    width: 390px;
    line-height: 1.5;
    color: white;
    top: 180px;
    left: 525px;
}