.contentSection{
/*    margin-bottom: 10px;*/
}

#socialSection{
    display: inline-block;
    margin-top: 3px;
}
.food-container{
    display: inline-block;
    list-style: none;
}

.food-container li.fb-photo, .food-container li.fb-album{
    display: inline-block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    border-bottom-style: none;

    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    
}
.food-container .fb-photo-thumb, .food-container .fb-photo-thumb-link{
    display: inline-block;
    width: 318px;
    height: auto;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

#facebookFeed li.fb-album, #facebookFeed li.fb-photo {
    display: block;    
    float: left;
    overflow: hidden;
    cursor: pointer;
    border-bottom-style: none;

    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    
    width: 237px;
    height: 237px;
    
}
.fb-photo-thumb, .fb-photo-thumb-link {
    border: none;
    text-decoration: none;
    overflow: visible;
    
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 241px;
    width: 241px;
}


#infographicSection{
    background: url(../imgs/infographic-tray.png);
    height: 650px;
}

#whyHelp{
    height: auto;
    display: inline-block;
    text-align: justify;
}

#whyHelp h3{
    text-align: center;
    font-size: 50px;
    padding: 15px;
    
}

#whyHelp .food-indents{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
#whyHelp ul.tabs{
    display: flex;
    width: 100%;
    margin: auto;
    list-style: none;
    font-size: 36px;
    min-height: 60px;
}

#whyHelp ul.tabs li{
    list-style: none;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
    margin-left: 0px !important;
    background: none;
    color: rgb(88, 82, 70);
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}
#whyHelp ul.tabs li.current{
    background-color: rgba(204,204,204,.6);
}

.tab-content{
    vertical-align: top;
    display: none;
    padding: 35px;
    color: rgb(88, 82, 70);
    background-color: rgba(204,204,204,.6);
    line-height: 1.5;
    font-size: 18px;
    margin: 0 auto;
    min-height: 243px;
}

.tab-content li{
    list-style:decimal;
    margin-left: 50px;
}

.tab-content.current{
    display: inherit;
}

#getInvolvedSection h3{
    width: 60%;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    background: #73a563;
    font-weight: 600;
    color: white;
    padding: 10px;
    padding-top: 0px;
    line-height: 1.5;
/*    border: solid 5px #f76b21;*/
}

#getInvolvedSection{
    background: #73a563;
    padding-bottom: 20px;
}

#lunchSection{
    margin-top: 5px;
    width: 966px;
}

#ending-facebook-prompt-banner{
    color: white;
    background: #f76b21;
    margin-bottom: 5px;
}

#ending-facebook-prompt{
    padding: 20px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 500;
    
}

.fb-blue{
    color: white;
    background: #3a5795;
    padding: 7px;
    margin-right: 2px;
}