.contentSection{
/*    margin-bottom: 10px;*/
}

#infographicSection{
    background: url(../imgs/infographic-tray.png);
    height: 1309px;
}

.infoH{
    font-weight: 900;
    font-size: 24px;
    color: black;
}

#chefAnnH{
    top: 595px;
    left: 55px;
    width: 100px;
    position: relative;
}

#whyHelpH{
    top: 510px;
    left: 290px;
    position: relative;
}

.infoP{
    font-size: 13.5px;
}

#chefAnnP{
    top: 600px;
    width: 110px;
    left: 55px;
    position: relative;
    color: #4d863c;
}

#whyHelpP{
    top: 520px;
    width: 185px;
    left: 293px;
    position: relative;
    color: #482c4d;
}

.lunchThumbnail{
/*    margin-top: 10px;*/
    height: 400px;
    width:auto;
}

.foodNames{
    font-weight: 900;
    font-size: 40px;
    color: white;
    top: 85%;
    left: 25px;
    transform: translate(-50%,-50%); 
    position: relative;
    text-shadow: 2px 2px 2px #000000;
}

#lunch1{
    background-image: url("../imgs/shredded-pork-tacos.png");
}
#lunch2{
    background-image: url("../imgs/cuban-sandwich.png");
}
#lunch3{
    background-image: url("../imgs/crispy-chicken-bowl.png");
}
#lunch4{
    background-image: url("../imgs/chicken-street-tacos.png");
}
#lunch5{
    background-image: url("../imgs/veggie-enchilada.png");
}
#lunch6{
    background-image: url("../imgs/veggie-burger.png");
}
#lunch7{
    background-image: url("../imgs/chicken-pesto-sandwich.png");
}
#lunch8{
    background-image: url("../imgs/falafel-pita-wrap.png");
}
#lunch9{
    background-image: url("../imgs/oven-fried-chicken.png");
}
#lunch10{
    background-image: url("../imgs/asian-noodles.png");
}
#lunch11{
    background-image: url("../imgs/southwest-chicken-pizza.png");
}
#lunch12{
    background-image: url("../imgs/beef-and-broccoli.png");
}
.lunchDetails{
    height: 250px;
    width: 100%;
    padding-top: 10px;
    background-color: #e7e7e7;
    display: inline-block;
    position: relative;
}

.lunchDetails-name{
    margin-left: 10px;
    width: 80%;
    font-weight: 900;
    font-size: 50px;
    color: #4c8441;
    text-shadow: 1px 1px 1px #4c8441;
}

.fullscreen-btn{
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    background-image: url(../imgs/fullscreen-icon.png);
    height: 50px;
    width: 50px;
}

.lunchDetails-comment{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: white;
    padding: 10px;
    font-size: 36px;
}

.copyComment{
    width: 20%;
    margin-top: 20px;
    margin-left: 40%;
    margin-right: 40%;
}

.copyComment-text{
    font-size: 24px;
}

#shareSection{
    
}